$mobile-width:425px;
$tablet-width:768px;
$background1: rgb(177, 177, 177);
$background2: rgb(136, 135, 135);
$background3: rgb(201, 201, 201);

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.headerContainer
{
    width: $mobile-width;
    height: 50px;
    background-color: $background1;
}

.searchContainer, .container
{
    margin-left: 10px;
}

.searchContainer
{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 50px 220px;
    grid-template-rows: 30px 30px;
}

#searchButton
{
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $background3;
}

#searchInput
{
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $background3;
}

#searchButton:hover
{
    background-color: $background2;
}


.containerMain
{
    width: $mobile-width;
    height: 549px;
    background-color: $background1;
}
.container
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.container >*
{   border: none;
    border-radius: 10px;
}

.container >*:hover
{
    background-color: $background2;
}

#today i
{
    color: blue;
}
#scheduled i
{
    color: red;
}
#all i
{
    color: black;
}
#flagged i
{
    color: orange;
}
#completed i
{
    color: gray;
}

@media (min-width:426px)
{
    .headerContainer, .containerMain
    {
        width: 768px;
    }
}

@media (min-width:769px)
{
    /*Displace all the content to the left*/
    body
    {
        display: flex;
        align-items: flex-start;
    }
    .headerContainer, .containerMain
    {
        width: $mobile-width;
    }

    #addNewTask
    {
        display: none;
    }
}