$mobile-width:425px;
$tablet-width:768px;
$background1: rgb(177, 177, 177);
$background2: rgb(136, 135, 135);
$background3: rgb(201, 201, 201);
$background4: rgb(228, 73, 17);
$background5: rgb(127, 229, 255);

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.headerContainer
{
    width: $mobile-width;
    height: 50px;
    background-color: $background1;
    display: flex;
    justify-content: center;
}

.searchContainer, .container
{
    margin-left: 10px;
}

.searchContainer
{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 50px 220px;
    grid-template-rows: 30px 30px;
}

#searchButton
{
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $background3;
}

#searchInput
{
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $background3;
}

#searchButton:hover
{
    background-color: $background2;
}


.containerMain
{
    width: $mobile-width;
    height: 549px;
    background-color: $background1;
    display: flex;
    justify-content: center;
}
.container
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.container >*
{   border: none;
    border-radius: 10px;
}

.container >*:hover
{
    background-color: $background2;
}

#today i
{
    color: blue;
}
#scheduled i
{
    color: red;
}
#all i
{
    color: black;
}
#flagged i
{
    color: orange;
}
#completed i
{
    color: gray;
}

#cancelEditionTaskButton:hover
{
    background-color: $background2;
}

#editTaskButton:hover
{
    background-color: $background4;
}

.editTaskContainer
{
    display: none;
}



@media (min-width:426px)
{
    .headerContainer, .containerMain
    {
        width: 768px;
    }
}

@media (min-width:769px)
{
    /*Displace all the content to the left*/
    body
    {
        display: flex;
        align-items: flex-start;
    }
    .headerContainer, .containerMain
    {
        width: $mobile-width;
    }

    #addNewTask
    {
        display: none;
    }

    .editTaskContainer
    {
        width: calc(100vw - 425px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 425px;
    }
    /*Styles for section2*/
    #section2
    {
        width: calc(100vw - 425px);
        height: 350px;
    }
    .section2TitleTaskContainer
    {
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 90px;
    }
    #editTitleButton
    {
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        width: 70px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #editTitleButton:hover
    {
        background-color: $background2;
    }

    .section2InputTaskContainer
    {
        width: calc(100vw - 425px);
        display: flex;
        justify-content: center;
    }

    #inputEditTask
    {
        resize: none;
        border-bottom: none;
        outline: none;
        background-color: $background5;
        width: calc(100vw - 450px);
        height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: 4px solid gray;
    }
    .section2FooterTaskContainer
    {
        width: calc(100vw - 425px);
        height: 80px;
        display: flex;
        justify-content: center;
    }
    .section2FooterTaskSubContainer
    {
        width: calc(100vw - 446px);
        height: 80px;
        background-color:rgb(251, 251, 251);
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #cancelEditionTaskButton, #editTaskButton
    {
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        width: 70px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #editTaskButton
    {
        background-color: rgb(238, 123, 82);
        color: white;
    }

    #cancelEditionTaskButton
    {
        background-color: $background3;
    }
    #section1, #section3
    {
        width: calc(100vw - 425px);
        height: 100px;
        background-color: white;
    }
}