$mobile-width: 425px;
$tablet-width: 768px;
$background1: rgb(8, 25, 32);
$background2: #CCCCCC;
$background3: rgb(52, 94, 131);;
$background4: rgb(228, 73, 17);
$background5: rgb(127, 229, 255);
$backgroundPrimaryButtons: #2f6eeb;
$backgroundPrimaryButtonsHover: #74fff6;


body
{
    margin: 0;
    padding: 0;
    background-color: #1b232c;
}


.headerContainer
{
    width: $mobile-width;
    height: 50px;
    background-color: $background1;
    display: flex;
    justify-content: center;
}

.containerMain
{
    width: $mobile-width;
    height: 549px;
    background-color: $background1;
    display: flex;
    justify-content: center;
}

.container
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px;
    grid-template-rows: repeat(3, 100px);
}

.containerSearchResults
{
    display: none;
    background-color: white;
    width:210px;
}

.container > *
{
    border: none;
    border-radius: 10px;
    background-color: $backgroundPrimaryButtons;
    color: white;
}

.container > *:hover
{
    background-color: $backgroundPrimaryButtonsHover;
    color:black;
}

.searchContainer
{
    display: grid;
    grid-template-columns: 50px 220px;
    grid-template-rows: repeat(2, 30px);
    align-items: center;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#searchButton, #searchInput
{
    border: none;
    background-color: $background3;
}
#searchInput::placeholder
{
    color: white;
}

#searchButton
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 37px;
}

#searchInput
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    height: 35px;
}

#searchButton:hover

{
    background-color: $backgroundPrimaryButtonsHover;
}

.editTaskContainer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: $mobile-width;
    display: none;
}

.listOfTasks
{
    width: $mobile-width;
    display: none;
}

.myTask
{
    width: $mobile-width;
    display: none;
}

#theTask
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border: 10px solid white;
    width: $mobile-width;
    height: 500px;
    margin-left: 10px;
    margin-top: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    background-color: $backgroundPrimaryButtons;
}

#tasks >*
{
    border:none;
    margin-top: 60px;
    margin-left: 10px;
    background-color: #004eea;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    color: white;
    box-shadow: 5px 5px 5px;
}

#tasks >*:hover
{
    background-color: $backgroundPrimaryButtons;
}

#tasks >*:active, .buttonGoBackCreateTask:active, .buttonGoBackList:active, 
#completeTask:active, #deleteTask:active
{
    transform: scale(0.98);
}

#tasks
{
    float:left;
}

.buttonGoBackCreateTask, .buttonGoBackList
{
    height: 50px;
    width:150px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
}
.buttonGoBackCreateTask:hover, .buttonGoBackList:hover
{
    background-color: #0069D1;
}
.buttonGoBackCreateTask i, .buttonGoBackList i
{
    color:white;
}

#cancelEditionTaskButton, #saveTaskButton, #selectDateButton, #selectTime
{
    border: none;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    width: 70px;
    height: 50px;
    color: white;
}


/*Hover and backgroundColor for TaskButton, editButton, selectDate and selectTime*/
#cancelEditionTaskButton
{
    background-color: $background3;
}

#cancelEditionTaskButton:hover
{
    background-color: $background2;
}

#saveTaskButton
{
    background-color: $backgroundPrimaryButtons;
    color: black;
}

#saveTaskButton:hover
{
    background-color: $backgroundPrimaryButtonsHover;
}

#selectDateButton
{
    background-color: $backgroundPrimaryButtons;
}

#selectDateButton:hover
{
    background-color: $backgroundPrimaryButtonsHover;
    color: black;
}

#selectTime
{
    background-color: $backgroundPrimaryButtons;
    color: black;
}

#selectTime:hover
{
    background-color: $backgroundPrimaryButtonsHover;
}

#inputEditTask
{
    width: calc(100vw - 35px);
    resize: none;
    border: none;
    outline: none;
    background-color: rgb(52, 94, 131);
    color: white;
    height: 150px;
    border-radius: 10px 10px 0 0;
    border-top: 4px solid gray;
}

#inputEditTask::placeholder
{
    color: rgb(255, 255, 255); /* Cambia "red" por el color que desees */
    opacity: 1; /* Asegura que el color se vea bien en algunos navegadores */
}

.section2FooterTaskContainer
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 25px);
}

.section2FooterDateAndTime, .section2FooterSaveAndCancel
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: calc(100vw - 25px);
    background-color: $background1;
    border: 1px solid gray;
    border-radius: 0 0 10px 10px;
    padding-left: 10px;
}

#section1, #section3
{
    width: 100vw;
    background-color:  rgb(251, 251, 251);
}
#section1
{
    height: 0vh;
}
#section3
{
    height: 42vh;
    margin-top: 10px;
    background-color: #1b232c;
}

.section2InputTaskContainer
{
    width: calc(100vw - 25px);
    display: flex;
    justify-content: center;
    background-color: #1b232c;
}

.section2TitleTaskContainer
{
    width: calc(100vw - 35px);
    
    height: 90px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#editTitleButton
{
    border: none;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    width: 70px;
    height: 50px;
    color: white;
    background-color: $background3;
}

#editTitleButton:hover
{
    background-color: $background2;
}

#titleTask
{
    
    width: 70px;
    text-align: center;
    color: white;
}

#today i
{
    color: #01448c;
}

#scheduled i
{
    color: #ff3b30;
}

#all i {
    color: #8e8e93;
}

#flagged i
{
    color: #ff9500;
}

#completed i
{
    color: rgb(1, 255, 1);
}

#section2
{
    background-color: #1b232c;
}

#today, #scheduled, #all, #flagged, #completed, #addNewTask
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#todayAllTasks, #completedTasks, #todayTasks
{
    width: 25px;
    height: 25px;
    background-color: #1b232c;
    color: white;
    margin-bottom: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonTheTask
{
    width: 400px;
    height: 200px;
    position: relative;
    top: 85px;
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
}

#completeTask, #deleteTask
{
    height: 50px;
    width:120px;
    border: none;
    border-radius: 5px;
    background-color: $background1;
    color: white;
}

@media (max-width: 769px)
{
    body
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 426px)
{
    .headerContainer, .containerMain
    {
        width: $tablet-width;
    }
    #section1, #section3
    {
        width: 100vw;
    }
}

@media (min-width: 769px)
{

    #section1, #section3
    {
        width: calc(100vw - 425px);
    }
    .headerContainer, .containerMain
    {
        width: $mobile-width;
    }

    #addNewTask
    {
        display: none;
    }

    .editTaskContainer
    {
        display: flex;
        width: calc(100vw - 425px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 425px;
        background-color: #1b232c;
    }
    .listOfTasks
    {
        display: none;
        width: calc(100vw - 425px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 425px;
        background-color: #1b232c;
    }
    .myTask
    {
        display: none;
        width: calc(100vw - 425px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 425px;
        background-color: #1b232c;
    }


    #section2
    {
        width: calc(100vw - 425px);
        height: 58vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1b232c;
    }


    .section2InputTaskContainer
    {
        width: calc(100vw - 485px);
        display: flex;
        justify-content: center;
    }
    
    .section2TitleTaskContainer
    {
        width: calc(100vw - 495px);
    }
    #inputEditTask
    {
        width: calc(100vw - 485px);
    }

    .section2FooterTaskContainer
    {
        width: calc(100vw - 485px);
    }
    .section2FooterSaveAndCancel, .section2FooterDateAndTime
    {
        width: calc((100vw - 485px)/2);
    }
}

#selectTime, #saveTaskButton
{
    color: white;
}

#selectTime:hover, #saveTaskButton:hover
{
    color: black;
}
