body {
  margin: 0;
  padding: 0;
}

.headerContainer {
  width: 425px;
  height: 50px;
  background-color: rgb(165, 212, 253);
  display: flex;
  justify-content: center;
}

.containerMain {
  width: 425px;
  height: 549px;
  background-color: rgb(165, 212, 253);
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 100px;
  grid-template-rows: repeat(3, 100px);
}

.container > * {
  border: none;
  border-radius: 10px;
  background-color: #FFC0CB;
}

.container > *:hover {
  background-color: #ff8599;
}

.searchContainer {
  display: grid;
  grid-template-columns: 50px 220px;
  grid-template-rows: repeat(2, 30px);
  align-items: center;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

#searchButton, #searchInput {
  border: none;
  background-color: #E0E0E0;
}

#searchButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 37px;
}

#searchInput {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  height: 35px;
}

#searchButton:hover {
  background-color: #CCCCCC;
}

.editTaskContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 425px;
  display: none;
}

#cancelEditionTaskButton, #saveTaskButton, #selectDateButton, #selectTime {
  border: none;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  width: 70px;
  height: 50px;
}

/*Hover and backgroundColor for TaskButton, editButton, selectDate and selectTime*/
#cancelEditionTaskButton {
  background-color: #E0E0E0;
}

#cancelEditionTaskButton:hover {
  background-color: #CCCCCC;
}

#saveTaskButton {
  background-color: #FFC0CB;
  color: black;
}

#saveTaskButton:hover {
  background-color: #ff8599;
}

#selectDateButton {
  background-color: #FFC0CB;
}

#selectDateButton:hover {
  background-color: #ff8599;
}

#selectTime {
  background-color: #FFC0CB;
  color: black;
}

#selectTime:hover {
  background-color: #ff8599;
}

#inputEditTask {
  width: calc(100vw - 35px);
  resize: none;
  border: none;
  outline: none;
  background-color: rgb(146, 198, 244);
  height: 150px;
  border-radius: 10px 10px 0 0;
  border-top: 4px solid gray;
}

.section2FooterTaskContainer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 25px);
}

.section2FooterDateAndTime, .section2FooterSaveAndCancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: calc(100vw - 25px);
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 0 0 10px 10px;
  padding-left: 10px;
}

#section1, #section3 {
  width: 100vw;
  background-color: rgb(251, 251, 251);
}

#section1 {
  height: 0vh;
}

#section3 {
  height: 42vh;
  margin-top: 10px;
}

.section2InputTaskContainer {
  width: calc(100vw - 25px);
  display: flex;
  justify-content: center;
}

.section2TitleTaskContainer {
  width: calc(100vw - 35px);
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editTitleButton {
  border: none;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  width: 70px;
  height: 50px;
}

#editTitleButton:hover {
  background-color: #CCCCCC;
}

#titleTask {
  width: 70px;
  text-align: center;
}

#today i {
  color: #007aff;
}

#scheduled i {
  color: #ff3b30;
}

#all i {
  color: #8e8e93;
}

#flagged i {
  color: #ff9500;
}

#completed i {
  color: #d1d1d6;
}

@media (max-width: 769px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 426px) {
  .headerContainer, .containerMain {
    width: 768px;
  }
  #section1, #section3 {
    width: 100vw;
  }
}
@media (min-width: 769px) {
  #section1, #section3 {
    width: calc(100vw - 425px);
  }
  .headerContainer, .containerMain {
    width: 425px;
  }
  #addNewTask {
    display: none;
  }
  .editTaskContainer {
    display: flex;
    width: calc(100vw - 425px);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 425px;
  }
  #section2 {
    width: calc(100vw - 425px);
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section2InputTaskContainer {
    width: calc(100vw - 485px);
    display: flex;
    justify-content: center;
  }
  .section2TitleTaskContainer {
    width: calc(100vw - 495px);
  }
  #inputEditTask {
    width: calc(100vw - 485px);
  }
  .section2FooterTaskContainer {
    width: calc(100vw - 485px);
  }
  .section2FooterSaveAndCancel, .section2FooterDateAndTime {
    width: calc((100vw - 485px) / 2);
  }
}/*# sourceMappingURL=index.css.map */